[submodule "buildkite-ec2-stack/plugins/docker-login"]
	path = buildkite-ec2-stack/plugins/docker-login
	url = https://github.com/buildkite-plugins/docker-login-buildkite-plugin
[submodule "buildkite-ec2-stack/plugins/ecr"]
	path = buildkite-ec2-stack/plugins/ecr
	url = https://github.com/buildkite-plugins/ecr-buildkite-plugin
[submodule "buildkite-ec2-stack/plugins/secrets"]
	path = buildkite-ec2-stack/plugins/secrets
	url = https://github.com/buildkite/elastic-ci-stack-s3-secrets-hooks
